.container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -8px -11px 15px 5px rgb(0, 0, 0);

    & div {
        display: flex;
        align-items: center;
        gap: 40px;

        & a {
            display: flex;
            align-items: center;
            gap: 10px;

            & img {
                width: 30px;
                height: 30px;
            }

            & .account_img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }
        }
    }

}

.basket {
    color: red;
    font-weight: bold;
    font-size: 12px;
    position: relative;


    & p {
        position: absolute;
        top: -10px;
        left: 8px;

    }

    & img {
        width: 50px;
        height: 50px;

    }


}