.input{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(201, 210, 208);
    font-size: 18px;
}

input:focus{
    background-color: rgb(234, 238, 238);
    outline: 1px solid rgb(72, 72, 72);
    border: none


}